<script lang="ts">
export default { name: 'SDropdownMenu' }
</script>

<script setup lang="ts">
/**
 * TODO: trigger: hover, contextmenu
 * TODO: route
 * TODO: event
 * TODO: improvement: Allow hoverable and clickable at the same time
 * TODO: improvement: do not restrict width of items to trigger width
 * FIXME: fix: Close the menu when clicking on an item on small screens
 * TODO: lists are styled too similar to their items to differentiate them
 * TODO: allow reusing the same menu in all items and using functions to pass the item
 */

import { computed, ref, toRefs, watchEffect, nextTick } from 'vue'
import {
  ODropdown,
  ODropdownItem
} from '@oruga-ui/oruga-next/src/components/dropdown/'
import { SIcon } from '@/components/'
import { logError } from '@/utils/'
import type { Icon } from '@/components/'
import type {
  DropdownMenu,
  DropdownMenuGroup,
  DropdownMenuItem,
  DropdownMenuInputEvent
} from './types'

import { useRouter } from 'vue-router'
import { find } from 'lodash'
import { qualifiedTypeIdentifier } from '@babel/types'

interface Props {
  title?: string
  icon?: Icon
  menu?: DropdownMenu
  nestedPosition?: 'left' | 'right'
  level?: number
}

const props = withDefaults(defineProps<Props>(), {
  level: 0
})
const { title, icon, menu, level, nestedPosition } = toRefs(props)

interface Emits {
  // TODO: rename to input
  // TODO: emit the value, the item and the original click event
  (event: 'menu-input', value: DropdownMenuInputEvent): void
}
const emit = defineEmits<Emits>()

// TODO: Use with DropdownMenuItem & DropdownMenuGroup
interface DropdownItem {
  type: 'group' | 'item'
  title: string
  value?: string
}

const router = useRouter()

const triggerRef = ref(null)
const dropdownRef = ref(null)

const isOutsideViewport = (element: HTMLElement): boolean[] => {
  const bounding = element.getBoundingClientRect()

  const isXOutside =
    bounding.right > (window.innerWidth || document.documentElement.clientWidth)
  const isYOutside =
    bounding.top > (window.innerHeight || document.documentElement.clientHeight)

  return [isXOutside, isYOutside]
}

const dropdownId = computed(() => {
  if (level.value > 0) return `dropdown-${level.value}`
  return `dropdown`
})

const onMenuInput = (value: DropdownMenuInputEvent): void => {
  if (value.value) {
    emit('menu-input', value)
    if (value.object.route) router.push(value.object.route)
    closeDropdown()
  }
}

// Validate that either icon or label should exist
watchEffect(() => {
  if (!icon?.value && !title?.value) {
    logError('DropdownMenu must have at least a `title` or an `icon`')
  }
})

const onActiveChange = async (isActive: boolean) => {
  if (!isActive)
    return document.removeEventListener('scroll', closeDropdown, true)

  await nextTick()
  fixContent()
}

const closeDropdown = (): void => {
  if (dropdownRef.value && dropdownRef.value.isActive)
    dropdownRef.value.isActive = false
}

const manageMarkDropdowns = (initialElement, type) => {
  if (initialElement.parentElement.id !== 'dropdown') {
      type === 'mark'
        ? initialElement.classList.add("current-dropdown")
        : initialElement.classList.remove("current-dropdown")
      manageMarkDropdowns(initialElement.parentElement, type)
  }else{
    return
  }
}

// In order that this component will be refactor may be then wont be necessary

const closeAnotherSubMenus = (elm) => {
  manageMarkDropdowns(elm, 'mark')
  const queryMenus = elm
  .closest(`#dropdown`)
  .querySelectorAll('.o-drop__menu--active:not(.current-dropdown)')

  const arrayMenus = Array.from(queryMenus).reverse()
  for (const element of arrayMenus) {
    if (element.parentElement.id !== 'dropdown') {
      element.parentElement.querySelector('.o-drop__trigger').click()
    }
  }
  manageMarkDropdowns(elm, 'unmark')
}

const fixContent = (): void => {
  const { top, width, left, right } = (
    triggerRef.value as any
  ).getBoundingClientRect()
  const triggerLeft = left
  const triggerRight = right

  const { innerHeight, innerWidth } = window
  // Mobile breakpoint
  if (innerWidth <= 1024) {
    return
  }

  document.addEventListener('scroll', closeDropdown, true)
  const elm = dropdownRef.value.$el.querySelector('.o-drop__menu--active')
  closeAnotherSubMenus(elm)
  elm.style = null
  const idName = 'dropdown'
  if (level.value > 1) {
    idName.concat(`-${level.value - 1}`)
  }
  const elmsNum = elm
    .closest(`#${idName}`)
    .querySelectorAll('.o-drop__menu--active').length
  elm.style.top = `${top}px`

  const elmSize = elm.getBoundingClientRect()

  if (
    innerHeight < elmSize.y + elmSize.height &&
    elmSize.y - elmSize.height > 0
  ) {
    elm.style.top = `${top - elmSize.height}px`
  } else if (innerHeight < elmSize.y + elmSize.height) {
    elm.style.height = '50vh'
    elm.style.overflowY = 'scroll'
    document.removeEventListener('scroll', closeDropdown, true)
  }

  const [isXOutside, isYOutside] = isOutsideViewport(elm)
  if (isXOutside) {
    elm.style.right = `${width}px`
  }
  if (elmsNum > 1) {
    if (nestedPosition && nestedPosition.value == 'left') {
      elm.style.right = `${innerWidth - triggerLeft}px`
    } else {
      elm.style.setProperty('left', `${triggerRight}px`, 'important')
    }
  }
}

const items = computed((): Array<DropdownItem> => {
  return menu.value
    ? menu.value.reduce(
        (
          all: Array<DropdownItem>,
          item: DropdownMenuGroup | DropdownMenuItem
        ) => {
          if (item.items) {
            all.push({
              ...item,
              type: 'group'
            })
            item.items.forEach((item: DropdownMenuItem) => {
              all.push({
                ...item,
                type: 'item',
                value: item.value || item.title
              })
            })
          } else {
            all.push({
              ...item,
              type: 'item',
              value: item.value || item.title
            })
          }
          return all
        },
        []
      )
    : []
})

defineExpose({ triggerRef, dropdownRef })
</script>

<template lang="pug">
o-dropdown.soil-dropdown-menu(
  ref='dropdownRef'
  :title='title'
  aria-role='list'
  menuClass='soil-dropdown-menu__container'
  @active-change='onActiveChange'
  :close-on-click='false'
  :id='dropdownId'
)
  template(#trigger)
    .soil-dropdown-menu__trigger(ref='triggerRef')
      s-icon.mr-2(v-if='icon' :icon='icon')
      span(v-if='title') {{ title }}
      s-icon(v-if='!icon' icon='caret-down' :style='{ verticalAlign: "sub" }')

  //- TODO: use `@click.stop=...` to stop propagating the event; test other components after that
  o-dropdown-item(
    v-for='(item, index) in items'
    :key='index'
    :class='`soil-dropdown-menu__${item.type}`'
    :item-disabled-class='`soil-dropdown-menu__${item.type}--disabled`'
    :clickable='item.type === "item"'
    :disabled='item.isDisabled'
    :value='item.title'
    :tabindex='index'
    override
    aria-role='listitem'
  )
    s-dropdown-menu.is-sub-menu(
      v-if='item.menu'
      icon="chevron-left"
      :title='item.menu.title'
      :disabled='item.isDisabled'
      :menu='[item.menu]'
      :level="level + 1"
      :nested-position='nestedPosition'
      @menu-input="onMenuInput"
    )
    //- TODO: consistent space even without icon
    .dropdown-label(
      v-else
      @click.stop='onMenuInput({ value: item.value, object: item })'
      )
      s-icon.mr-2(
        v-if='item.icon'
        :icon='item.icon'
        :icon-style='item.isDisabled ? { color: "#ccc", verticalAlign: "middle" } : undefined'
      )
      | {{ item.title }}
</template>

<style lang="sass" scoped>
.soil-dropdown-menu
  cursor: default
  .soil-dropdown-menu__group
    font-weight: 700
    cursor: default

  .soil-dropdown-menu__group,
  .soil-dropdown-menu__item
    margin: 0.5rem
    padding: 0.25rem
    font-size: 0.75rem
    border-radius: 0.15em
    user-select: none

  .soil-dropdown-menu__item:hover
    background-color: lightGrey
    cursor: pointer

  .is-sub-menu
    width:100%

  .soil-dropdown-menu__group--disabled,
  .soil-dropdown-menu__item--disabled
    pointer-events: none
    color: #ccc

  .soil-dropdown-menu__trigger
    user-select: none
    cursor: pointer

  @media screen and (min-width: 1024px)
    :deep(.soil-dropdown-menu__container)
      position: fixed !important
      left: initial !important
      margin: 1.25em !important
      z-index: 120 !important
      overflow: hidden
</style>
