<script lang="ts">
export default { name: 'SPasswordField' }
</script>

<script setup lang="ts">
/**
 * This input is, currently, for introducing the password when signing in,
 * so it does not validate or restrict anything (type `default`).
 * TODO: type new/validated that validates input
 * TODO: type confirm?
 */

import { toRefs } from 'vue'
import { OField } from '@oruga-ui/oruga-next/src/components/field/'
import { OInput } from '@oruga-ui/oruga-next/src/components/input/'
import { useFieldProps, useHasCounter } from './composables'

type FieldType = 'default'

interface Props {
  type?: FieldType
  modelValue?: string
  label?: string
}

interface Emits {
  (event: 'update:modelValue', modelValue: string): void
}

const props = withDefaults(defineProps<Props>(), {
  ...useFieldProps('S.PasswordField.password')
})
const { type, modelValue, label } = toRefs(props)

const emit = defineEmits<Emits>()

const { hasCounter } = useHasCounter(type)
</script>

<template lang="pug">
o-field(:label='label')
  o-input(
    :has-counter='hasCounter'
    :value='modelValue'
    @input='emit("update:modelValue", $event.target.value)'
    password-reveal
    type='password'
  )
</template>
