<script lang="ts">
export default { name: 'SSearchField' }
</script>

<script setup lang="ts">
import { toRefs, ref, computed, h } from 'vue'
import type { Ref } from 'vue'
import { OField } from '@oruga-ui/oruga-next/src/components/field/'
import { OInput } from '@oruga-ui/oruga-next/src/components/input/'
import { useFieldProps, useHasCounter } from './composables'
import { omit } from 'lodash'
import { SIcon } from '@/components/'
import type { Icon, IconName } from '../icon'

type FieldType = 'default'

interface Props {
  type?: FieldType
  modelValue?: string
  label?: string
  inputConfig?: any
  labelConfig?: any
  hideLabel?: boolean
  icon?: Icon | IconName
}

interface Emits {
  (event: 'update:modelValue', modelValue: string): void
}

const props = withDefaults(defineProps<Props>(), {
  ...useFieldProps('S.SearchField.search'),
  inputConfig: () => ({}),
  hideLabel: false
})

const { type, modelValue, label, inputConfig, hideLabel, icon, labelConfig } =
  toRefs(props)

const inputConfigStripped = computed((): any =>
  omit(inputConfig.value, ['icon'])
)

const searchValue = ref(modelValue?.value || '')

const onInput = (input: string) => emit('update:modelValue', input)

const cleanInput = () => {
  searchValue.value = ''
  emit('update:modelValue', '')
}

const emit = defineEmits<Emits>()

const { hasCounter } = useHasCounter(type)
</script>

<template lang="pug">
.search-field-wrapper
  o-field(:label='label' v-if="!hideLabel" v-bind='labelConfig')
    .o-ctrl-input
      span.o-icon.o-input__icon-left
        s-icon(:icon='icon' v-if='icon')
      input.o-input(v-bind='inputConfig' v-model='searchValue' @input='onInput($event.target.value)' :class='{"o-input-iconspace-left": !!icon}')
      span.o-icon.o-input__icon-right(v-if='searchValue')
        s-icon.is-clickable(icon='times-circle' @click='cleanInput')
  .o-ctrl-input(v-else)
    span.o-icon.o-input__icon-left
      s-icon(:icon='icon' v-if='icon')
    input.o-input(v-bind='inputConfig' v-model='searchValue' @input='onInput($event.target.value)' :class='{"o-input-iconspace-left": !!icon}')
    span.o-icon.o-input__icon-right(v-if='searchValue')
      s-icon.is-clickable(icon='times-circle' @click='cleanInput')
</template>
