<script lang="ts">
export default { name: 'SContextMenu' }
</script>

<script setup lang="ts">
// TODO: allow groups or headers
// TODO: allow dividers
// TODO: optional icon

import { toRefs } from 'vue'
import type { ContextMenuEntry } from './types'

// Any value could be used for entries
type Value = any

interface Props {
  entries: Array<ContextMenuEntry<Value>>
}

interface Emits {
  (event: 'input', value: Value, entry: ContextMenuEntry<Value>): void
}

const props = defineProps<Props>()
const { entries } = toRefs(props)

const emit = defineEmits<Emits>()

const onEntry = (entry: ContextMenuEntry<Value>): void =>
  emit('input', entry.value, entry)
</script>

<template lang="pug">
.soil-context-menu
  ul.soil-context-menu-entries(aria-role='menu')
    //- TODO: `aria-disabled`
    li.soil-context-menu-entry(
      v-for='entry in entries'
      :key='entry.action'
      :class='entry.isDisabled ? "soil-context-menu-entry--disabled" : ""'
      aria-role='menuitem'
      @click='onEntry(entry)'
    )
      slot(v-bind='entry')
        a {{ entry.label }}
</template>

<style lang="sass">
@use '../src/styles/theme' as soil-theme
@use '../../../node_modules/bulma/bulma'

.soil-context-menu
  @extend .card

  > ul.soil-context-menu-entries
    @extend .dropdown-content

    > .soil-context-menu-divider
      @extend .dropdown-divider

    > li.soil-context-menu-entry
      @extend .dropdown-item
      cursor: pointer
      > a
        color: soil-theme.$text

      &:not(.soil-context-menu-entry--disabled):hover
        background-color: soil-theme.$light

      &.soil-context-menu-entry--disabled
        opacity: 0.5
        cursor: not-allowed
        > a
          cursor: not-allowed
</style>
