<script lang="ts">
export default { name: 'SMenu' }
</script>

<script setup lang="ts">
/**
 * TODO: activate items based on the current route
 */

import { toRefs, computed, ref, nextTick } from 'vue'
import { SIcon } from '@/components/'
import type { MenuItem } from './types'

interface Props {
  // TODO: rename to items or entries
  menu: Array<MenuItem>
  mantainSelection?: boolean
}

interface Emits {
  (event: 'menu-input', value: any): void
}

const emit = defineEmits<Emits>()

const _reload = ref(0)

const { menu, mantainSelection } = withDefaults(defineProps<Props>(), {
  mantainSelection: true
})

const activeMenu = computed((): Array<boolean> => {
  _reload.value
  if (!mantainSelection) {
    return menu.map((e: any) => false)
  }
  return menu.map((e: any) => e.active)
})

const onMenuItemClick = (itemIndex: number) => {
  if (activeMenu.value[itemIndex] || menu[itemIndex].disabled) {
    return
  }
  menu.forEach((menuItem: any, index: number) => {
    menuItem.active = index == itemIndex
  })
  _reload.value++
  emit('menu-input', menu[itemIndex])
}
</script>

<template lang="pug">
.soil-menu-wrapper
  .soil-menu-item(
    v-for="menuItem, index in menu"
    :key="index"
    :title="menuItem.title"
    :class="{ 'is-clickable': !activeMenu[index] && !menuItem.disabled, active: activeMenu[index], disabled: menuItem.disabled }"
    @click="() => onMenuItemClick(index)"
  )
    // TODO: replace with slot and remove upperLeft, etc. or create new component `SMenuButton` or similar
    .upper-row
      div(v-if="menuItem.upperLeft")
        | {{ menuItem.upperLeft }}
      div(v-else)
      div(v-if="menuItem.upperRight")
        | {{ menuItem.upperRight }}
    .soil-menu-item-title
      | {{ menuItem.title }}
    .down-row
      div(v-if="menuItem.downLeft")
        | {{ menuItem.downLeft }}
      div(v-else)
      div(v-if="menuItem.downRight")
        | {{ menuItem.downRight }}
</template>

<style lang="sass">
@use './src/styles/theme' as soil-theme

.soil-menu-wrapper
  display: flex
  flex: 1
  flex-direction: column

  .soil-menu-item
    display: flex
    flex-direction: column
    flex: 1
    justify-content: center
    padding: 0.4em
    user-select: none
    background-color: lightgrey

    &:not(:first-child)
      border-top: 1px solid #b3b3b3

    &.active
      text-shadow: 2px 2px 0px soil-theme.$light

    &.disabled
      opacity: 0.5
      cursor: not-allowed

    &:not(.disabled):hover,
    &.active
      background-color: #e0e0e0

    .upper-row,
    .down-row
      font-size: 0.8em
      display: flex
      flex: 1
      padding: 0 0.5em
      justify-content: space-between
      min-height: 1.4em

    .soil-menu-item-title
      font-size: 1.2em
      display: flex
      flex: 1
      justify-content: center
</style>
