<script lang="ts">
export default { name: 'SMenuBar' }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { ODropdown } from '@oruga-ui/oruga-next/src/components/dropdown'
import { OButton } from '@oruga-ui/oruga-next/src/components/button'
import type { MenuBarItem } from './types'
import type { DropdownMenuItem } from '@/components/'
import { useRouter } from 'vue-router'

interface Props {
  menu: MenuBarItem[]
}

interface Emits {
  (event: 'input', value: DropdownMenuItem): void
}

const props = withDefaults(defineProps<Props>(), {
  menu: () => []
})
const { menu } = toRefs(props)

const emit = defineEmits<Emits>()

const router = useRouter()

const onClick = (menuItem: DropdownMenuItem) => {
  emit('input', menuItem)

  if (menuItem.route) {
    router.push(menuItem.route as any)
  }
}
</script>

<template lang="pug">
.MenuBar(ref='menuBarRef')
  .dropdown(v-for='submenu in menu')
    o-dropdown(:triggers="['hover']" aria-role="list")
      template(#trigger="{ active }")
        o-button.menu-button(rootClass='soil-menu-bar-button' @click='onClick(submenu)')
          span {{ submenu.title }}
      .items-list
        o-dropdown-item.soil-menu-bar-item(
          v-for='item in submenu.menu'
          itemActiveClass='soil-menu-bar-button--active'
          itemDisabledClass aria-role="listitem"
          :disabled='item.isDisabled'
          :class='{ "is-disabled": item.isDisabled }'
          @click='onClick(item)')
          | {{ item.title }}
</template>

<style lang="sass" scoped>
.MenuBar
  background-color: #333
  overflow: visible
  border-bottom: 3px solid rgb(82, 80, 80, 0.3)
  .soil-menu-bar-button
    font-size: 1.05em
    background-color: transparent
    border: none
    padding: 23px 18px
    &:hover
      background-color: #555
  .soil-menu-bar-item
    font-size: 1.05em
    padding: 0.4rem 1rem
    &:hover
      background-color: #ddd
    &:active
      background-color: inherit
  .soil-menu-bar-button--active
    background-color: inherit
    color: inherit
  .is-disabled
    pointer-events: none
    color: #aaa
  .items-list
    min-width: max-content
</style>
