<script lang="ts">
export default { name: 'SForm' }
</script>

<script setup lang="ts">
import { toRefs, ref, computed, nextTick } from 'vue'
import { SModal, SIcon, SButton, SCheckbox, SSwitch } from '@/components/'
import { OInput } from '@oruga-ui/oruga-next/src/components/input'
import { OField } from '@oruga-ui/oruga-next/src/components/field'
import { OButton } from '@oruga-ui/oruga-next/src/components/button'
import { OCheckbox } from '@oruga-ui/oruga-next/src/components/checkbox'
import { OSelect } from '@oruga-ui/oruga-next/src/components/select'
import { ODatepicker } from '@oruga-ui/oruga-next/src/components/datepicker'
import { OUpload } from '@oruga-ui/oruga-next/src/components/upload'
import type { Form } from './types'
import Joi, { ValidationError } from 'joi'
import type { FormInput } from './types'
// * A warning is show related with `Datepicker`, this may be solved on 0.4.7 oruga version

interface Props {
  fields: any
  title: string
  buttonText: string
}

const props = defineProps<Props>()

const { fields, title, buttonText } = toRefs(props)

const modal_form = ref(null)
const fieldsActive = ref(fields.value)
const isButtonActive = ref(true)

interface Emits {
  (event: 'submit', value: Form): void
  (event: 'close'): void
}

const emit = defineEmits<Emits>()

const submitValues = () => {
  const returnValues = fieldsActive.value.reduce(
    (dict: any, element: any) =>
      Object.assign(dict, { [element.name]: element.value }),
    {}
  )
  emit('submit', returnValues)
  emit('close')
}

const validate = async (value: any, validator: any, field: any) => {
  try {
    const validation = await validator.validateAsync(value)
    field.state = 'success'
    field.msg = ''
  } catch (error: ValidationError) {
    field.state = 'danger'
    field.msg = error.message.replace('"value"', field.label)
  }

  isAllCorrect()
}
const validateFile = async (value: any, validator: any, field: any) => {
  //TODO handle validation of multiples files
  if (!field.options.multiple) {
    try {
      const validation = await validator.validateAsync({
        type: value.type,
        size: value.size
      })
      field.state = 'success'
      field.msg = ''
    } catch (error: ValidationError) {
      field.state = 'danger'
      field.msg = error.message.replaceAll('"', '')
    }
  }

  isAllCorrect()
}

const isAllCorrect = () => {
  isButtonActive.value = fieldsActive.value
    .filter((field: FormInput) => field.validator)
    .map((field: FormInput) => {
      return field.state === 'success'
    })
    .includes(false)
}

const close = () => {
  ;(modal_form.value as any).close()
}

const open = () => {
  ;(modal_form.value as any).open()
}

defineExpose({
  open,
  close
})
</script>

<template lang="pug">
header.modal-card-head
  h1.modal-card-title {{title}}
  SIcon(:icon='{ name: "times", isCircled: true }' class='is-clickable' @click='emit("close")')
.soil-form-body
  o-field(v-for='field in fieldsActive' :label='field.label' :variant='field.state' :message='field.msg')
    o-input(v-if='field.type === "input"' v-bind='field.options' v-model='field.value' @input='nextTick(() => { validate(field.value,field.validator, field) })')
    s-checkbox(v-if='field.type === "checkbox"' v-bind='field.options' v-model='field.value')
    o-upload(v-if='field.type === "file"' v-bind='field.options' v-model='field.value' @change='nextTick(() => { validateFile(field.value,field.validator, field) })')
      s-button(tag="a" :label='field.state === "success" ? "Updated" : "Click to upload"' variant="primary" expanded)
    o-select(v-if='field.type === "select"' v-bind='field.options' v-model='field.value' @change='validate(field.value,field.validator, field)')
      option(v-for='option in field.selectValues' :value='option.value || option' ) {{ option.name || option }}
    o-datepicker(v-if='field.type === "date"' v-bind='field.options' v-model="field.value" @blur='validate(field.value,field.validator, field)' )
    s-switch(v-if='field.type === "switch"' v-bind='field.options' v-model="field.value" )
footer.soil-form-footer
  s-button(:disabled='isButtonActive' variant='info' label='Confirm' @click='submitValues')
</template>

<style lang="sass">
.soil-form-body
  padding: 2rem
  width: 500px

.soil-form-footer
  padding-bottom: 1.5rem
  text-align: center
</style>
