<script lang="ts">
export default { name: 'SFormSubmit' }
</script>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useI18n } from 'vue-i18n'
import { OField } from '@oruga-ui/oruga-next/src/components/field/'
import { OButton } from '@oruga-ui/oruga-next/src/components/button/'

interface Props {
  label?: string
  isDisabled?: boolean
  isLoading?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  label() {
    const { t } = useI18n()
    return t('S.Form.Submit.submit')
  },
  isDisabled: false,
  isLoading: false
})
const { label, isDisabled, isLoading } = toRefs(props)
</script>

<template lang="pug">
o-field
  p.control
    o-button(
      :disabled='isDisabled'
      :label='label'
      :loading='isLoading'
      native-type='submit'
      variant='primary'
    )
</template>
