<script lang="ts">
export default { name: 'SListItem' }
</script>

<script lang="ts" setup>
import { toRefs } from 'vue'
import { SIcon } from '@/components/'
import type { ListItem } from '@/components/'

interface Props {
  readonly item: ListItem
}
const props = defineProps<Props>()
const { item } = toRefs(props)

interface Emits {
  (event: 'input', original: PointerEvent): void
  (event: 'toggle'): void
}
const emit = defineEmits<Emits>()
</script>

<template lang="pug">
.soil-list-item(@click='emit("input", $event)')
  slot(name='item' v-bind='{ item }')
    .soil-list-item__icon(v-if='item.icon')
      s-icon(:icon='item.icon')

    .soil-list-item__label
      slot(name='item-label' v-bind='{ item }')
        | {{ item.label }}

    .soil-list-item__toggle(
      v-if='item.isCollapsible'
      :title='item.isExpanded ? "Collapse" : "Expand"'
      @click='emit("toggle")'
    )
      s-icon(
        :class='{ "fa-rotate-180": !item.isExpanded }'
        icon='angle-up'
      )
</template>

<style lang="sass">
//- FIXME: align icons vertically
.soil-list
  .soil-list-item
    display: flex
    flex-wrap: nowrap
    column-gap: .5em
    padding: .5em 1.25em
    color: #616161
    transition: .2s ease-out
    &:hover
      background-color: #f5f5f5
      color: #565656

    // Only label should grow to fill the space
    .soil-list-item__label
      flex: 1

    .soil-list-item__toggle
      cursor: pointer
</style>
