<script lang="ts">
export default { name: 'SList' }
</script>

<script lang="ts" setup>
// TODO: consistency: either title and item are expanded on click or none of them
// TODO: differentiate more the toggle button of the list and the button of the items

import { computed, h, ref, toRefs, useAttrs, useSlots, watch } from 'vue'
import type { Ref } from 'vue'
import { SCollapsible, SIcon } from '@/components/'
import SListItem from './SListItem.vue'
import type { Icon, IconName, List, ListItem } from '@/components/'

interface Props {
  readonly label?: string
  readonly icon?: Icon | IconName
  readonly isCollapsible?: boolean
  readonly isCollapsed?: boolean
  readonly items: ListItem[]
}
const props = withDefaults(defineProps<Props>(), {
  isCollapsible: false,
  isCollapsed: false
})
const { icon, label, isCollapsed, isCollapsible, items } = toRefs(props)

interface Emits {
  // NOTE: `item.isExpanded` is the value after triggering the collapse/expanse operation
  (event: 'input', item: ListItem, original: PointerEvent): void
  (event: 'toggle-item', item: ListItem): void
  (event: 'toggle'): void
}
const emit = defineEmits<Emits>()

/**
 * Use a different variable (`isCollapsed` prop is read-only) to store the status of toggling the items.
 */
const areItemsCollapsed = ref(isCollapsed.value)

/**
 * Determine if the list could be collapsible: even if `isCollapsed` is `true`,
 * the list should not be collapsible if it is empty.
 */
const canBeCollapsible = computed(
  (): boolean => isCollapsible.value && !!items.value.length
)

/**
 * Items with their `isExpand` attribute initialised to `false` if not set yet.
 */
const collapsibleItems: Ref<ListItem[]> = ref([])

watch(isCollapsed, (isCollapsed: boolean) => {
  areItemsCollapsed.value = isCollapsed
})

watch(
  items,
  (items: ListItem[]) => {
    collapsibleItems.value = items.map(item => ({
      ...item,
      isExpanded: item.isExpanded || false
    }))
  },
  { immediate: true }
)

/**
 * Toggle the item.
 */
const onToggle = (item: ListItem) => {
  item.isExpanded = !item.isExpanded
  emit('toggle-item', item)
}

const onToggleList = () => {
  areItemsCollapsed.value = !areItemsCollapsed.value
  emit('toggle')
}

/**
 * Slots used at root level
 */
const slots = useSlots()

/**
 * Attributes used at root level
 */
const attrs = useAttrs()

/**
 * Render the list title.
 *
 * The only available slot is `title`.
 */
const listTitle = () => {
  const titleProps = {
    class: {
      'soil-list__title': true,
      'soil-list__title--trigger-disabled': !canBeCollapsible.value
    }
  }

  let children
  if (slots.title) {
    // NOTE: here all the props are passed to the slot, but `isCollapsed` is overriden
    // because the prop is read-only and the state may have changed.
    // NOTE: here all the attributes are passed to the slot to include unknown additional
    // properties that could be set on the `list` to customise the slot content.
    children = slots.title({
      ...attrs,
      ...props,
      isCollapsed: areItemsCollapsed.value
    })
  } else {
    children = [
      h('h3', { class: 'soil-list__title__label' }, [
        label.value,
        h('span', { class: 'ml-1 tag', size: 'small' }, [items.value.length])
      ]),
      h(SIcon, {
        class: {
          'soil-list__title__toggle': true,
          'fa-rotate-180': areItemsCollapsed.value || !canBeCollapsible.value
        },
        icon: 'angle-up',
        iconStyle: { color: [canBeCollapsible.value ? '#808080' : '#d1d1d1'] }
      })
    ]
    if (icon.value) {
      children.unshift(h(SIcon, { class: 'soil-list__title__icon', icon }))
    }
  }

  return h('div', titleProps, children)
}

/**
 * Render the list container.
 *
 * The only available slot is `item-content`.
 */
const listContainer = ({ items }) => {
  const props = {
    class: 'soil-list__container'
  }

  let children
  // NOTE: If the slot exist, it will be displayed even when the item is not collapsible
  if (slots['item-content']) {
    // Wrap the `s-list-item` inside a `SCollapsible`, allowing a custom `trigger` slot
    children = items.map(item =>
      h(
        SCollapsible,
        { isCollapsed: !item.isExpanded },
        {
          default: () => slots['item-content']({ item }),
          trigger: () => listItem({ item, onToggle: () => onToggle(item) })
        }
      )
    )
  } else {
    children = items.map(item => listItem({ item }))
  }

  return h('div', props, children)
}

/**
 * Render a list item.
 *
 * Available slots are those from `SListItem` (`item` and `item-label` which are exclusive).
 */
const listItem = props => {
  props.onInput = $event => emit('input', props.item, $event)

  // Pass the list item to each slot
  const children = {}
  if (slots['item-label']) {
    children['item-label'] = () => slots['item-label']({ item: props.item })
  } else if (slots.item) {
    children.item = () => slots.item({ item: props.item })
  }

  return h(SListItem, props, children)
}
</script>

<template lang="pug">
.soil-list
  template(v-if='!canBeCollapsible')
    list-title
    list-container(v-if='items && items.length' :items='collapsibleItems')

  s-collapsible(
    v-else
    :is-collapsed='areItemsCollapsed'
    toggle-event='click'
    @collapse='onToggleList'
    @expand='onToggleList'
  )
    template(#trigger)
      list-title
    list-container(v-if='items && items.length' :items='collapsibleItems')

    slot(v-else name='empty')
</template>

<style lang="sass">
.soil-list
  .soil-list__title
    display: flex
    flex-wrap: nowrap
    column-gap: .5em
    padding: .5em .75em
    font-size: .75em
    color: #7a7a7a
    letter-spacing: .1em
    text-transform: uppercase
    cursor: pointer

    &.soil-list__title--trigger-disabled
      cursor: inherit

    // Only label should grow to fill the space
    .soil-list__title__label
      flex: 1
</style>
