<script setup lang="ts">
import { ref, toRefs } from 'vue'
import { useI18n } from 'vue-i18n'
import {
  ODropdown,
  ODropdownItem
} from '@oruga-ui/oruga-next/src/components/dropdown/'
import { OTabItem } from '@oruga-ui/oruga-next/src/components/tabs/'
import { SIcon } from '@/components/'
import type { Tab as TabInterface, TabId } from './types'

type Tab = TabInterface<any>

interface Props {
  tab: Tab
  isCloseMultipleDisabled?: boolean
  isCloseToLeftDisabled?: boolean
  isCloseToRightDisabled?: boolean
}

interface Emits {
  (event: 'close', value: TabId): void
  (event: 'close-others', value: Array<TabId>): void
  (event: 'close-to-left', value: Array<TabId>): void
  (event: 'close-to-right', value: Array<TabId>): void
  (event: 'menu-open', value: TabId): void
}

const { t } = useI18n()

const props = withDefaults(defineProps<Props>(), {
  isCloseMultipleDisabled: false,
  isCloseToLeftDisabled: false,
  isCloseToRightDisabled: false
})
const {
  tab,
  isCloseMultipleDisabled,
  isCloseToLeftDisabled,
  isCloseToRightDisabled
} = toRefs(props)

const emit = defineEmits<Emits>()

const dropdown = ref(null),
  dropdownCloseMultiple = ref(null)

const closeSenu = (): void => {
  closeCloseMultipleMenu()
  dropdown.value.isActive = false
}
const toggleMenu = (): void => {
  // Opening the dropdown is produced on `$nextTick` TODO: Check if Oruga works like Buefy
  const wasActive = dropdown.value.isActive
  dropdown.value.toggle()

  if (!wasActive) {
    emit('menu-open', tab.value.id)
  }
}

const closeCloseMultipleMenu = (): void =>
  (dropdownCloseMultiple.value.isActive = false)
const toggleCloseMultipleMenu = (): void => dropdownCloseMultiple.value.toggle()
</script>

<template lang="pug">
//- TODO: header class
o-tab-item._(:value='tab.id.toString()' header-class='tab-header')
  //- TODO: tooltip with info
  template(#header)
  //- TODO: size
  s-icon.animate-spin(
      :title='t("S.Tabs.loading")'
      icon='sync'
      size='is-small'
      v-if='tab.isLoading'
    )

    //- TODO: size
    //- TODO: customize:
    //-  - tooltip / title on the icon
    //- FIXME: some icons (value doamin) are too wide
    s-icon(:icon='tab.icon' size='is-small' v-if='tab.icon')

    //- FIXME: cover the entire tab
    router-link.tab-title(
      :title='tab.title'
      :to='tab.route'
      @click.stop
      v-if='tab.route'
    )
    span.tab-title(:title='tab.title' v-else)
      | {{ tab.title }}

    //- TODO: size
    //- TODO: close automatically
    //- TODO: change message when dropdown is already open
    span.tab-menu(:title='t("S.Tabs.menuOpen")' @click.stop='toggleMenu')
      s-icon.inside-circle(icon='ellipsis-v' size='is-small' type='is-white')

    //- TODO: better position
    o-dropdown(
      :close-on-click='false'
      append-to-body
      aria-role='list'
      position='bottom-left'
      ref='dropdown'
    )
      o-dropdown-item(@click='emit("close", tab.id)' aria-role='listitem')
        | {{ t("S.Tabs.closeTab") }}
      //- TODO: change message when dropdown is already open
      o-dropdown-item(
        :disabled='isCloseMultipleDisabled'
        @click='toggleCloseMultipleMenu'
        aria-role='listitem'
      )
        | {{ t("S.Tabs.closeMultipleTabs") }}
        s-icon.nested-dropdown-indicator(icon='angle-right')

        o-dropdown.nested(
          append-to-body
          aria-role='list'
          position='bottom-right'
          ref='dropdownCloseMultiple'
        )
          o-dropdown-item(
            :disabled='isCloseToLeftDisabled'
            @click='emit("close-to-left", tab.id)'
            aria-role='listitem'
          )
            | {{ t("S.Tabs.closeTabsToLeft") }}
          o-dropdown-item(
            :disabled='isCloseToRightDisabled'
            @click='emit("close-to-right", tab.id)'
            aria-role='listitem'
          )
            | {{ t("S.Tabs.closeTabsToRight") }}
          o-dropdown-item(
            @click='emit("close-other", tab.id)'
            aria-role='listitem'
          )
            | {{ t("S.Tabs.closeOtherTab") }}

    button.delete(
      :title='t("S.Tabs.closeTab")'
      @click.stop='emit("close", tab.id)'
    )

  slot(:tab='tab' name='content')
</template>

<style scoped lang="sass">
._
  // Reduce the width of the "real" tabs
  .tab-header
    &.is-active > a .tab-title
      font-weight: bold

    > a
      padding: 0.5em 0.6em
      .icon
        // Same dimensions than the close (delete) icon
        $icon-size: 20px
        margin: 0px
        padding: 2px
        height: $icon-size
        width: $icon-size

      .tab-title
        max-width: 150px
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis

      // Remove some side-effects of Buefy styles
      a.tab-title
        border: 0px
        display: inline
        padding: 0

      .tab-menu
        // Gap betwen the tab title and the tab menu
        margin-left: 0.4em
        // Gap betwen the tab menu and the close button
        margin-right: 0.15em
        display: inline-flex
        align-items: center
</style>
