<template lang="pug">
o-tab-item._(:disabled='!tabs.length' value='__soil_tab_list__')
  template(#header)
    span.tab-list(@click.stop='toggle')
      //- TODO: size, type
      s-icon.inside-circle(icon='caret-down' size='is-small' type='is-white')

    o-dropdown(
      append-to-body
      aria-role='list'
      position='bottom-right'
      ref='dropdown'
    )
      //- TODO: button/icon to close the tab
      o-dropdown-item.menu-item(
        :key='tab.id'
        @click='$emit("select", tab)'
        aria-role='listitem'
        v-for='tab in tabs'
      )
        //- TODO: size
        //- TODO: customize:
        //-  - tooltip / title on the icon
        s-icon(:icon='tab.icon' size='is-small' v-if='tab.icon')
        | {{ tab.title }}
</template>

<script lang="ts">
import { defineComponent, PropType } from 'vue'
import {
  ODropdown,
  ODropdownItem
} from '@oruga-ui/oruga-next/src/components/dropdown/'
import { OTabItem } from '@oruga-ui/oruga-next/src/components/tabs/'
import { SIcon } from '@/components/'
import { Tab as TabInterface } from './types'

type Tab = TabInterface<any>

/**
 * List that displays the open tabs
 */
export default defineComponent({
  name: 'STabList',

  components: {
    SIcon,
    ODropdown,
    ODropdownItem,
    OTabItem
  },

  props: {
    tabs: {
      type: Array as PropType<Array<Tab>>,
      required: true
    }
  },

  methods: {
    close(): void {
      const $ref: any = this.$refs.dropdown
      $ref.isActive = false
    },

    toggle(): void {
      const $ref: any = this.$refs.dropdown
      // Opening the dropdown is produced on `$nextTick`
      const wasActive = $ref.isActive
      $ref.toggle()

      if (!wasActive) {
        this.$emit('open')
      }
    }
  }
})
</script>

<style module lang="sass">
// The last tab is jus a container for the button that opens the list, to it shouldn't look like a tab
._
  > a
    border-radius: 0px !important
    border-top-width: 2px
    border-bottom-width: 2px
    border-color: transparent !important
    padding: 0em !important
    z-index: 0 !important
    &:hover
      border-color: whitesmoke !important
    .tab-list
      display: inline-flex
      align-items: center
      padding: 0.5em 0.7em

  .menu-item .icon:first-child
    margin-right: 0.4em
    ~ .icon
      margin-right: 0.4em
</style>
