<script lang="ts">
export default { name: 'SNavbar' }
</script>

<script setup lang="ts">
/**
 * TODO: this component should be refactored to be more generic
 * TODO: account related code should be moved to other component
 */

import { useI18n } from 'vue-i18n'

const { t } = useI18n()
</script>

<template lang="pug">
nav.soil-navbar.navbar
  .navbar-brand(v-if='$slots.home')
    router-link.navbar-item(
      :title='t("S.Navbar.projectName")'
      :to='{ name: "home" }'
    )
      //- Slot to include a link to the home, usually with the logo
      slot(name='home')
        | {{ t('S.Navbar.home') }}

  .navbar-menu(v-if='$slots.middle')
    .navbar-start
      .navbar-item
        //- Slot to include links or dropdowns
        slot(name='middle')

    .navbar-end(v-if='$slots.end')
      slot(name='end')
</template>

<style lang="sass" scoped>
.navbar
  background-color: #363636
</style>
