<script lang="ts">
export default { name: 'SSwitch' }
</script>

<script setup lang="ts">
import { OSwitch } from '@oruga-ui/oruga-next/src/components/switch'

interface Props {
  variant?: string
}

const props = defineProps<Props>()
</script>

<template lang="pug">
o-switch(v-bind='props')
</template>

<style lang="sass">
//TODO refactor on global variables
$base: #73c1c7
$success: #c8e9a0
$info: #7fd6dd
$danger: #b4656f
$warning: #ee964b

.o-switch
  .o-switch__check--checked
    background: $base
  &--danger
    .o-switch__check--checked
      background: $danger
  &--success
    .o-switch__check--checked
      background: $success
  &--info
    .o-switch__check--checked
      background: $info
  &--warning
    .o-switch__check--checked
      background: $warning
</style>
