<script lang="ts">
export default { name: 'SBreadcrumb' }
</script>

<script setup lang="ts">
/**
 * TODO: when multiple lines are needed to display all the items:
 *   a) Change style
 *   b) Show horizontal scroll
 *   c) Use ... when titles are too long
 */

import { toRefs, watchEffect } from 'vue'
import { SIcon } from '@/components'
import { logError } from '@/utils/'
import type { BreadcrumbItem } from './types'

interface Props {
  items?: Array<BreadcrumbItem>
}

const props = withDefaults(defineProps<Props>(), { items: [] })
const { items } = toRefs(props)

watchEffect(() => {
  if (!items.value.length) {
    logError('Breadcrumb is empty')
  }
})
</script>

<template lang="pug">
.soil-breadcrumb.py-1.pl-3
  nav.breadcrumb.is-medium(aria-label='breadcrumbs')
    ul
      //- FIXME: title could be duplicated
      li(
        :class='{ "is-active": item.isActive }'
        :key='item.title'
        v-for='item in items'
      )
        slot(name='item' v-bind='item')
          template(v-if='item.route')
            router-link(:title='item.title' :to='item.route')
              s-icon.mr-1(v-if='item.icon' :icon='item.icon')
              | {{ item.title }}
          template(v-else)
            s-icon.mr-1(v-if='item.icon' :icon='item.icon')
            | {{ item.title }}
</template>
