<script lang="ts">
export default { name: 'SIcon' }
</script>

<script setup lang="ts">
/**
 * TODO: allow complex usages (masks, rotation, etc.) in the same manner than FontAwesomeIcon
 * TODO: allow other sizes than `medium`
 */

import { computed, toRefs } from 'vue'
import {
  FontAwesomeIcon,
  FontAwesomeLayers
} from '@fortawesome/vue-fontawesome'
import { getConfig } from '@/config'
import type { Icon, IconName, IconPack } from './types'

interface Props {
  icon: Icon | IconName
  pack?: IconPack
  outerCircleStyle?: CSSStyleDeclaration
  iconStyle?: CSSStyleDeclaration
}

const props = withDefaults(defineProps<Props>(), {
  iconStyle: () =>
    ({ color: 'grey', verticalAlign: 'middle' } as CSSStyleDeclaration),
  outerCircleStyle: () => ({ color: 'lightGrey' } as CSSStyleDeclaration),
  pack: undefined
})
const { icon, pack, iconStyle, outerCircleStyle } = toRefs(props)

const iconName = computed((): IconName => icon.value.name || icon.value)
const iconPack = computed(
  (): IconPack =>
    pack.value ||
    icon.value.pack ||
    getConfig('COMPONENTS.SIcon.defaultIconPack')
)
const title = computed((): string | null => icon.value.title || null)
const isCircled = computed((): boolean => icon.value.isCircled || false)
</script>

<template lang="pug">
.soil-icon.medium(:title='title')
  font-awesome-layers(v-if='isCircled')
    font-awesome-icon(icon='circle' :style='outerCircleStyle')
    font-awesome-icon(v-if='icon' transform='shrink-8' v-bind='props' :icon='[iconPack, iconName]')
  font-awesome-icon(v-else v-bind='props' :icon='[iconPack, iconName]' :style='iconStyle')
</template>

<style lang="sass">
.soil-icon
  display: inline-flex
  align-items: center
  justify-content: center
  vertical-align: middle
  $sizes: ('small': .75rem, 'medium': 1.25rem, 'large': 1.5rem)
  @each $name, $value in $sizes
    &.#{$name}
      font-size: $value
      > svg
        width: $value
</style>
