<script lang="ts">
export default { name: 'STextIcon' }
</script>

<script setup lang="ts">
/**
 * TODO: allow complex usages (masks, rotation, etc.) in the same manner than FontAwesomeIcon
 * TODO: allow other sizes than `medium`
 * TODO: rename to `SIconText`
 */

import { toRefs } from 'vue'

interface Props {
  // TODO: why optional?
  text?: string
  iconStyle?: CSSStyleDeclaration
}

const props = withDefaults(defineProps<Props>(), {
  text: 'dflt',
  iconStyle: (): CSSStyleDeclaration => {
    return {} as CSSStyleDeclaration
  }
})
const { text, iconStyle } = toRefs(props)
</script>

<template lang="pug">
span.soil-text-icon(:style='iconStyle')
  | {{text}}
</template>

<style lang="sass">
@use './src/styles/theme' as soil-theme

.soil-text-icon
  user-select: none
  font-weight: bold
  color: soil-theme.$primary
  font-size: 0.9em
</style>
