<script lang="ts">
export default { name: 'SCollapsible' }
</script>

<script setup lang="ts">
import { computed, ref, toRefs, watch } from 'vue'
import { capitalize } from 'lodash'

interface Props {
  readonly isCollapsed?: boolean
  readonly toggleEvent?: null | string
  readonly collapseEvent?: null | string
  readonly expandEvent?: null | string
}
const props = withDefaults(defineProps<Props>(), {
  isCollapsed: true,
  toggleEvent: null,
  collapseEvent: null,
  expandEvent: null
})
const { isCollapsed, expandEvent, collapseEvent, toggleEvent } = toRefs(props)

interface Emits {
  (event: 'collapse'): void
  (event: 'expand'): void
}
const emit = defineEmits<Emits>()

/*
 * Bind the internal status (`isContentCollapsed`) to `isCollapsed` read-only prop.
 */

const isContentCollapsed = ref()

watch(
  isCollapsed,
  isCollapsed => {
    isContentCollapsed.value = isCollapsed
  },
  { immediate: true }
)

/*
 * Emit events when using the trigger, but not when `isCollapsed` is changed externally.
 * The same event can be used for toggling or different events for collapsing and expanding.
 */

const triggerEvents = computed(() => {
  const events = {}

  if (toggleEvent.value) {
    events[`on${capitalize(toggleEvent.value)}`] = () => {
      isContentCollapsed.value = !isContentCollapsed.value
      isContentCollapsed.value ? emit('collapse') : emit('expand')
    }
  } else {
    if (collapseEvent.value) {
      events[`on${capitalize(collapseEvent.value)}`] = () => {
        isContentCollapsed.value = true
        emit('collapse')
      }
    }
    if (expandEvent.value) {
      events[`on${capitalize(expandEvent.value)}`] = () => {
        isContentCollapsed.value = false
        emit('expand')
      }
    }
  }

  return events
})

/*
 * Avoid rendering content until it is triggered.
 */

const isRendered = ref(!isContentCollapsed.value)

const stopWatch = watch(isContentCollapsed, isContentCollapsed => {
  if (!isContentCollapsed) {
    isRendered.value = true
    stopWatch()
  }
})
</script>

<template lang="pug">
.soil-collapsible
  .soil-collapsible__trigger(v-bind='triggerEvents')
    slot(name='trigger' v-bind='{ isCollapsed: isContentCollapsed }')

  transition(v-if='isRendered' v-show='!isContentCollapsed' name='fade')
    .soil-collapsible__content
      slot(v-bind='{ isCollapsed: isContentCollapsed }')
</template>
