<script lang="ts">
export default { name: 'SModal' }
</script>

<script setup lang="ts">
import { toRefs, ref } from 'vue'
import { OModal } from '@oruga-ui/oruga-next/src/components/modal'

interface Props {
  width?: string
  isInitialActive?: boolean
  //animation?: string
}

const props = withDefaults(defineProps<Props>(), {
  width: '500px',
  isInitialActive: false
})
const { width, isInitialActive } = toRefs(props)

const isActive = ref(isInitialActive.value)

const close = () => {
  isActive.value = false
}

const open = () => {
  isActive.value = true
}

defineExpose({
  isActive,
  open,
  close
})
</script>

<template lang="pug">
#SModal
  o-modal(v-model:active='isActive' :width='width')
    slot(name='header' :close-modal='close')
    slot(name='body' :close-modal='close' )
    slot(name='footer' :close-modal='close' )
</template>

<style lang="sass">
.o-modal__content
  padding: 0px
</style>
