<script lang="ts">
export default { name: 'SLoading' }
</script>

<script setup lang="ts">
import { OLoading } from '@oruga-ui/oruga-next/src/components/loading'
import { SIcon } from '@/components'

interface Props {
  loading?: boolean
  fullPage?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  loading: false,
  fullPage: false
})
</script>

<template lang="pug">
o-loading(v-bind='props')
  slot
    s-icon(pack="fas" icon="sync-alt" size="large" class='fa-spin')
</template>
