<script lang="ts">
export default { name: 'SCheckbox' }
</script>

<script setup lang="ts">
import { OCheckbox } from '@oruga-ui/oruga-next/src/components/checkbox'

interface Props {
  variant?: string
  text?: string
}

const props = defineProps<Props>()
</script>

<template lang="pug">
o-checkbox(v-bind='props') {{text}}
</template>

<style lang="sass">
// FIXME: the default background color should not look like it is checked
// TODO refactor on global variables
$base: #73c1c7
$success: #c8e9a0
$info: #7fd6dd
$danger: #b4656f
$warning: #ee964b

.o-chk
  .o-chk__check
    border-color: $base
    background-color: $base
  &--danger
    .o-chk__check
      border-color: $danger
      background-color: $danger
  &--success
    .o-chk__check
      border-color: $success
      background-color: $success
  &--info
    .o-chk__check
      border-color: $info
      background-color: $info
  &--warning
    .o-chk__check
      border-color: $warning
      background-color: $warning
</style>
