<script lang="ts">
export default { name: 'STableVisualizer' }
</script>

<script setup lang="ts">
import { OPagination } from '@oruga-ui/oruga-next/src/components/pagination/'
import { OLoading } from '@oruga-ui/oruga-next/src/components/loading/'
import { OTooltip } from '@oruga-ui/oruga-next/src/components/tooltip/'
import { OTabs, OTabItem } from '@oruga-ui/oruga-next/src/components/tabs/'
import { SIcon, SDropdownMenu, STable } from '@/components/'
import { SSearchField } from '@/components/fields/'
import { watchEffect, ref, toRefs } from 'vue'

// TODO: use `shallowRef` optionally to optimise performance on big tables?

interface Props {
  tables?: Array<any>
  tableHeight?: number
  loading?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  tables: () => [],
  loading: false
})

const { tables, tableHeight, loading } = toRefs(props)

const currentTab = ref('')

watchEffect(() => {
  if (tables.value && tables.value.length)
    currentTab.value = tables.value.filter(
      (table: any) => !table.disabled
    )[0].name
})

const hasData = (table: any) =>
  !table.rows || !table.columns || !table.rows.length || !table.columns.length

const handleSelectTable = (table: any) => {
  if (!hasData(table)) {
    currentTab.value = table.name
  }
}
</script>

<template lang="pug">
._
  o-loading(:active='loading')
    s-icon.fa-spin(pack="fas" icon="sync-alt" size="large")

  ul.visualizer-menu
    li(v-for='table of tables' :key='table.name' @click='handleSelectTable(table)' :class='{ selected: table.name == currentTab, disabled: hasData(table) }' :height='tableHeight')
      | {{ table.name }}

  o-tabs(v-model='currentTab')
    o-tab-item(:value="table.name" v-for='table of tables' :key='table.name')
      s-table(:columns='table.columns' :rows='table.rows' v-if='!loading && table && table.rows && table.columns')
</template>

<style lang="sass" scoped>
._
  flex: 1
  flex-direction: row

ul.visualizer-menu
  display: flex
  justify-content: space-around
  margin: 0.5em
  user-select: none
  > li
    cursor: pointer
    padding: 0.3em
    text-align: center
    flex: 1
    border-width: 1px 0px 1px 1px
    border-color: #ccc
    border-style: solid
    &:first-child
      border-radius: 5px 0px 0px 5px
      border-width: 1px 0px 1px 1px
    &:last-child
      border-radius: 0px 5px 5px 0px
      border-width: 1px 1px 1px 0px
    &:hover:not(.selected), .disabled
      background-color: #eee
    &.disabled
      user-select: none
      cursor: initial
      color: #ccc
    &.selected
      background-color: #7dc5cc
      color: white
    &:not(:last-child)
      border-right: 1px #cbcbcb solid
</style>
