<script lang="ts">
export default { name: 'STableList' }
</script>

<script lang="ts" setup>
import {
  computed,
  toRefs,
  ref,
  watch,
  nextTick,
  onMounted,
  withDefaults
} from 'vue'
import { OPagination } from '@oruga-ui/oruga-next/src/components/pagination/'
import { SIcon, SDropdownMenu, STooltip } from '@/components/'
import { SSearchField } from '@/components/fields/'

import { take, drop } from 'lodash'

// TODO: use `shallowRef` optionally to optimise performance on big tables?

interface Props {
  // FIXME Typing
  items: Array<any>
  perPage?: number
  label: string
  mainMenu?: Array<any>
}

const props = withDefaults(defineProps<Props>(), {
  items: () => [],
  perPage: 6
})

const emit = defineEmits(['select-table', 'menu-input', 'main-menu-input'])

const { items, perPage, label, mainMenu } = toRefs(props)

const currentPage = ref(1)
const lastPage = ref(1)

const currentSearch = ref('')

watch(currentSearch, () => {
  if (currentSearch.value.length) {
    lastPage.value = currentPage.value
    currentPage.value = 1
  } else {
    currentPage.value = lastPage.value
  }
})

const searchedList = computed(() => {
  if (currentSearch.value.length) {
    const search = currentSearch.value.toLowerCase()
    return items.value.filter(
      ({ name }: any) => name.toLowerCase().indexOf(search) >= 0
    )
  } else {
    return items.value
  }
})

const paginatedList = computed(() =>
  take(
    drop(searchedList.value, (currentPage.value - 1) * perPage.value),
    perPage.value
  )
)

const handleMenuInput = (evt: any) => {
  emit('menu-input', evt)
}

const handleMainMenuInput = (evt: any) => {
  emit('main-menu-input', evt)
}
</script>

<template lang="pug">
._
  s-search-field(:hide-label='true' :input-config='{ placeholder: "Search..." }' icon='search' v-model='currentSearch')
  .table-explorer-list
    //- TODO: same line height with and without menu
    .table-explorer-subtitle
      h3
        | {{ label }}
      .table-explorer-main-menu(v-if='mainMenu && mainMenu.length')
        s-dropdown-menu(
          :icon='{ name: "ellipsis-v", isCircled: true }'
          :menu='mainMenu'
          @menu-input='handleMainMenuInput'
        )

    .table-explorer-list-container
      .table-explorer-list(v-if='paginatedList.length')
        .table-explorer-item(v-for="item, idx of paginatedList" :key="item.name + idx")
          .table-explorer-item-start
            s-icon(icon='table')
            | {{ item.name }}
            o-tooltip(label="Visualize")
              s-icon.is-clickable(icon='eye' @click='emit("select-table", item)')
          .table-explorer-item-end
            s-dropdown-menu(:icon='{ name: "ellipsis-v", isCircled: true }' :menu='item.menu' @menu-input='handleMenuInput' v-if='item.menu')

        //- TODO: refactor to use only 1 HTML element with custom style
        .table-explorer-item.space-filler(v-for="idx of Array(perPage - paginatedList.length).keys()" :key="idx" ) &#8203
      slot(v-else name='empty-table-list')

    o-pagination(v-if='searchedList.length > perPage' :total='searchedList.length' :simple='true' :per-page='perPage' v-model:current='currentPage' icon-pack='fas')
</template>

<style lang="sass" scoped>
._
  flex: 1

.table-explorer-item
  border-radius: 2px
  color: #616161
  display: flex
  padding: 0.5em 0.75em
  justify-content: space-between
  transition: .2s ease-out

.table-explorer-item:not(.space-filler):hover
  background-color: #f5f5f5
  color: #565656

.table-explorer-subtitle
  padding: .5em .75em
  color: #7a7a7a
  font-size: .75em
  letter-spacing: .1em
  text-transform: uppercase
  display: flex
  justify-content: space-between

.table-explorer-list
  user-select: none
  margin-top: 0.5em
  height: 100% !important

.table-explorer-item-start > *
  padding: 0em 0.5em

:deep(.o-tip__content)
  background-color: #e9e9e9
  color: #3e3e3e

:deep(.o-tip__arrow)
  color: #e9e9e9

:deep(.o-tabs__nav)
  display: none

:deep(.o-pag--simple)
  justify-content: flex-end
  margin: 1em 0
</style>
