<script lang="ts">
export default { name: 'STable' }
</script>

<script setup lang="ts">
/**
 * TODO: Maximum rows to preview should be moved to another component
 * TODO: paginate only when necessary
 */

import { computed, toRefs, watchEffect } from 'vue'
import { useI18n } from 'vue-i18n'
import {
  OTable,
  OTableColumn
} from '@oruga-ui/oruga-next/src/components/table/'
import { STooltip } from '@/components/'
import { OSelect } from '@oruga-ui/oruga-next/src/components/select/'
import { OInput } from '@oruga-ui/oruga-next/src/components/input/'
import { logError } from '@/utils/'
import type {
  ColumnSelectFieldOption,
  ColumnSelectField,
  Column,
  Row
} from './types'

// TODO: use `shallowRef` optionally to optimise performance on big tables?

interface Props {
  columns: Array<Column>
  rows: Array<Row>
  height?: number
  isPaginated?: boolean
  perPage?: number
  maxPreview?: number
  showRowCount?: boolean
}

const props = withDefaults(defineProps<Props>(), {
  height: 400,
  isPaginated: true,
  perPage: 20,
  maxPreview: 100,
  showRowCount: false
})
const {
  columns,
  rows,
  height,
  isPaginated,
  perPage,
  maxPreview,
  showRowCount
} = toRefs(props)

const { t } = useI18n()

watchEffect(() => {
  if (!columns.value.length) {
    logError('STable component must have columns')
  }
})

// By default, all columns are sortable and searchable
const tableColumns = computed((): Array<Column> => {
  return columns.value.map((column: Column) => {
    if (column.searchable === false) {
      return {
        ...column,
        sortable: false,
        searchable: false
      } as Column
    }
    return {
      ...column,
      sortable: true,
      searchable: true
    } as Column
  })
})
</script>

<template lang="pug">
o-table(
  :data="rows"
  :height="height"
  :paginated='isPaginated'
  :per-page="perPage"
  icon-pack='fas'
  sticky-header
  striped
  hoverable
  scrollable
  root-class='soil-table'
  th-class='soil-table__header'
  tr-selected-class='soil-table__tr--selected'
)
  o-table-column(
    v-for="column in tableColumns"
    :key="column.field"
    v-bind="column"
  )
    template(v-if="column.tooltip" #header)
      s-tooltip(
        :label="column.tooltip"
        :delay="100"
        type="is-dark"
        animated
        append-to-body
        square
        dashed
      )
        | {{ column.label }}

    template(v-if="column.searchable" #searchable="props")
      //- Search by typing
      o-input(
        v-if="!column.selectField"
        v-model="props.filters[props.column.field]"
        :placeholder="column.placeholder || t('S.Table.searchPlaceholder')"
        type='search'
        icon='search'
        icon-pack='fas'
        icon-clickable
      )
      //- Search by selecting
      o-select(
        v-if="column.selectField"
        v-model="props.filters[props.column.field]"
        :placeholder="column.selectField.placeholder || t('S.Table.selectPlaceholder')"
      )
        option
        option(
          v-for="option in column.selectField.options"
          :key="option.id || option"
          :value="option.value || option"
        )
          | {{ option.value || option }}

    //- TODO: use text type (without passing it explicityly) unless slot is specified
    template(#default="{ row }")
      template(v-if="column.type === 'text'")
        | {{ row[column.field] }}
      template(v-else)
        slot(:name='column.field' v-bind='{ column, row }')

  template(v-slot:detail)
    slot(name='detailed')

  template(#bottom-left)
    .p-1(v-if="showRowCount")
      p.is-size-6
        | t('S.Table.rowCount', { count: rows.lenght })
        span.is-size-7(v-if="rows.length >= maxPreview")
          | t('S.Table.previewMaximum')
</template>

<style lang="sass">
.soil-table
  th.soil-table__header
    z-index: 1
    .o-icon
      color: grey

  tr:nth-child(2) > th
    top: 42px

  .o-table--narrowed
    tr:nth-child(2) > th
      top: 34px
</style>
