<script lang="ts">
export default { name: 'SViewPasswordReset' }
</script>

<script setup lang="ts">
import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { OField } from '@oruga-ui/oruga-next/src/components/field/'
import { OIcon } from '@oruga-ui/oruga-next/src/components/icon/'
import { SFormSubmit, SAuthForm, SEmailField } from '@/components/'
import { resetPassword } from '@/services/api/'

const router = useRouter()
const { t } = useI18n()

const email = ref(''),
  isSubmitLoading = ref(false),
  isSuccess = ref(false),
  errorMessage = ref('')

const isSubmitDisabled = computed((): boolean => !email.value.length)

const submit = async (event: SubmitEvent): Promise<void> => {
  event.preventDefault()
  errorMessage.value = ''
  isSubmitLoading.value = true

  const isOK = await resetPassword({
    email: email.value
  })

  isSubmitLoading.value = false

  if (isOK) {
    isSuccess.value = true
  } else {
    errorMessage.value = t('S.View.Auth.PasswordReset.error')
  }
}
</script>

<template lang="pug">
s-auth-form(
  :title='t("S.View.Auth.PasswordReset.forgottenPassword")'
  @submit='submit'
)
  template(v-slot:left)
    p.subtitle.mt-2 {{ t("S.View.Auth.PasswordReset.forgottenMessage") }}
  template(v-slot:right)
    .form-style(v-if='!isSuccess')
      s-email-field(v-model='email')

      s-form-submit(
        :is-disabled='isSubmitDisabled'
        :is-loading='isSubmitLoading'
        :label='t("S.View.Auth.PasswordReset.submit")'
      )
      o-field.mt-2
        p.control
          p.help.help-height.is-danger
            | {{ errorMessage }}

    .success-message.columns(v-else)
      o-icon.mr-3(icon='check-circle' size='is-large' type='is-success')
      .container
        i18n-t.mt-1(keypath='S.View.Auth.PasswordReset.successMessage1')
          template(#email)
            p
            | {{ email }}

        p.mt-1
          | {{ t("S.View.Auth.PasswordReset.successMessage2") }}

        o-field.mt-5
          p.control.is-size-5
            router-link(
              :title='t("S.View.Auth.SignIn.signIn")'
              :to='{ name: "sign-in" }'
            )
              | {{ t("S.View.Auth.SignIn.signIn") }}
</template>

<style scoped lang="sass">
.subtitle
  width: 35rem

.form-style
  width: 40rem
  padding-top: 1rem
  padding-left: 8rem

// Keep the empty space when no error message is displayed
.help-danger-style
  height: 1.5rem

.success-message
  padding-top: 0rem
  width: 40rem
  height: 5rem

.success-font-size
  padding:0.2rem
  font-size: 1.1rem
</style>
