<script lang="ts">
export default { name: 'SViewPasswordChange' }
</script>

<script setup lang="ts">
import { SPasswordChange } from '@/components/'
</script>

<template lang="pug">
s-password-change
</template>
