<script lang="ts">
export default { name: 'SViewSignIn' }
</script>

<script setup lang="ts">
/**
 * NOTE: Usually projects have a page to sign up. That page does not allow registering
 * users with duplicated usernames. So, an attacker could infer if a username exists or not.
 * In that case, explaining that the username is OK, but the password is incorrect,
 * does not increase the risk.
 * But, since this project does not provide that sign-up page, it is more secure to
 * not provide any clue about what fields (username, password or both) have failed.
 */

import { computed, ref } from 'vue'
import { useRouter } from 'vue-router'
import { useI18n } from 'vue-i18n'
import { OField } from '@oruga-ui/oruga-next/src/components/field/'
import {
  SFormSubmit,
  SAuthForm,
  SPasswordField,
  SUsernameField
} from '@/components/'
import { signIn } from '@/services/api/'
import type { SubmitEvent } from '@/types'

const router = useRouter()
const { t } = useI18n()

const username = ref(''),
  password = ref(''),
  isSubmitLoading = ref(false),
  errorMessage = ref('')

const isSubmitDisabled = computed((): boolean => {
  return !username.value.length || !password.value.length
})

const submit = async (event: SubmitEvent): Promise<void> => {
  event.preventDefault()
  errorMessage.value = ' '
  isSubmitLoading.value = true

  const isOK = await signIn({
    username: username.value,
    password: password.value
  })

  isSubmitLoading.value = false

  if (isOK) {
    router.push({ name: 'home' })
  } else {
    errorMessage.value = t('S.View.Auth.SignIn.error')
  }
}
</script>

<template lang="pug">
s-auth-form(:title='t("S.View.Auth.SignIn.signInTo")' @submit='submit')
  template(#right)
    .form-padding
      s-username-field(v-model='username')
      s-password-field(v-model='password')
      s-form-submit(
        :is-disabled='isSubmitDisabled'
        :is-loading='isSubmitLoading'
        :label='t("S.View.Auth.SignIn.signIn")'
      )

      o-field.mt-2
        p.control
          p.help.help-height.is-danger
            | {{ errorMessage }}

      o-field.mt-4
        p.control
          router-link(
            :title='t("S.View.Auth.SignIn.forgottenPassword")'
            :to='{ name: "password-reset" }'
          )
            | {{ t('S.View.Auth.SignIn.forgottenPassword') }}
</template>

<style scoped lang="sass">
// To align the form the top margin should equal the margins and the help height (`.mt-2` + `.mt-4` + `.help-height`)
.form-padding
  padding-top: 4.5rem

// Keep the empty space when no error message is displayed
.help-height
  height: 1.5rem
</style>
