<script lang="ts">
export default { name: 'STree' }
</script>

<script setup lang="ts">
import { computed, toRefs, ref, onMounted } from 'vue'
import { SIcon, STextIcon } from '@/components/icon/'
import STree from './STree.vue'
import { SDropdownMenu } from '@/components/'
import type { DropdownMenuInputEvent } from '@/components/'
import type { Tree } from './types'
import { isEqual } from 'lodash'

interface Emits {
  (event: 'menu-input', value: DropdownMenuInputEvent): void
  (event: 'tree-node-click', value: { value: string; tree: Tree }): void
}

interface Props {
  tree: Tree
  level?: number
  // TODO: option to not allow hiding nodes (ie, the root node)
  // TODO
  // isCollapsible?: Boolean
  // isFilterable?: Boolean
  // isSelectable?: Boolean
  // isMenuClickable?: Boolean
  // isMenuHoverable?: Boolean
}

const props = withDefaults(defineProps<Props>(), { level: 0 })

const emit = defineEmits<Emits>()

const { tree, level } = toRefs(props)

const description = computed((): string =>
  tree.value.description ? tree.value.description : tree.value.title
)

const isCollapsed = ref(false)

const onTreeNodeClick = (
  received: Tree | { value: string; tree: Tree }
): void => {
  const clickedTree = 'value' in received ? received.tree : received
  if (
    !clickedTree.isClickable &&
    !clickedTree.route &&
    isEqual(tree.value, clickedTree)
  ) {
    return
  }
  emit('tree-node-click', { value: clickedTree.title, tree: clickedTree })
}

const children = computed((): Array<Tree> => tree.value.children || [])
const hasChildren = computed((): boolean => !!children.value.length)

isCollapsed.value = !!tree.value.isInitialCollapsed

const toggle = (): void => {
  isCollapsed.value = !isCollapsed.value
}

const icon = computed(() => {
  const icon = tree.value.icon
  if (!icon) {
    return null
  }
  if (icon?.pack || icon?.name || icon?.isCircled) {
    return icon
  } else {
    return { icon }
  }
})
</script>

<template lang="pug">
.tree-node.tree-level-indentation(:class='`tree-level-${level}`')
  .tree-line
    s-icon.mr-1(v-if='icon' v-bind='icon')
    s-text-icon.mr-1(v-if='tree.textIcon' v-bind='tree.textIcon')

    router-link.overflow-ellipsis(
      v-if='tree.route'
      :to='tree.route'
      :class='{ "is-clickable": tree.isClickable, "tree-link": tree.isClickable }'
      :title='description'
      tag='span'
      @click='onTreeNodeClick(tree)'
    )
      slot(name='node-title' v-bind='tree' :level='level')
        span(:class='{ "soil-tree__title--highlighted": tree.highlighted }')
          | {{ tree.title }}
      span.tag.ml-1(v-if='tree.hasCount' size='small')
        | {{ children.length }}

    span.overflow-ellipsis(
      v-else
      :class='{ "is-clickable": tree.isClickable, "tree-link": tree.isClickable }'
      :title='description'
      @click='onTreeNodeClick(tree)'
    )
      slot(name='node-title' v-bind='tree' :level='level')
        span(:class='{ "soil-tree__title--highlighted": tree.highlighted }')
          | {{ tree.title }}
      span.tag.ml-1(v-if='tree.hasCount' size='small')
        | {{ children.length }}

    .is-flex.is-justify-content-flex-end.is-flex-grow-1
      .is-flex.ml-2
        slot(name="extraContent" v-if="tree.extraContent && tree.extraContent.show" v-bind="tree.extraContent.props")
        span.tree-dropdown-menu-wrapper.is-clickable.is-flex(v-if='tree.menu || hasChildren')
          s-dropdown-menu(
            v-if='tree.menu'
            :menu='tree.menu'
            :icon='{ name: "ellipsis-v", isCircled: true }'
            @menuInput='emit("menu-input", $event)'
          )

        //- TODO: transition/animation
        s-icon.tree-level-toggle(
          v-if='hasChildren'
          :class='{ "fa-rotate-180": !isCollapsed }'
          icon='angle-up'
          @click.native='toggle'
        )
        .tree-aligner(v-else)

  transition(v-if='hasChildren' name='fade')
    .tree-children(v-show='!isCollapsed')
      //- FIXME: same title, but different ID / code
      s-tree(
        v-for='tree in children'
        :key='tree.title'
        :level='level + 1'
        :tree='tree'
        @menu-input='emit("menu-input", $event)'
        @tree-node-click="onTreeNodeClick"
      )
        template(v-if='$slots["node-title"]' #node-title='slotProps')
          slot(name='node-title' v-bind='slotProps')
        template(#extraContent="extraContent")
          slot(name='extraContent' v-bind='extraContent')
</template>

<style lang="sass">
.soil-tree__title--highlighted
  background-color: rgba(220, 220, 220, 0.6)
  border-radius: 0.3em
  padding: 0.15em
</style>

<style scoped lang="sass">
$level-indentation: 1rem

.tree-level-indentation
  &:not(.tree-level-0)
    margin-left: $level-indentation

.tree-node
  user-select: none

.tree-level-toggle
  cursor: pointer

.tree-dropdown-menu-wrapper + .tree-level-toggle
  margin-left: 0.25em

.tree-menu-trigger
  cursor: pointer
  display: inline-flex
  align-items: center

.tree-line
  width: 100%
  flex: 1
  display: flex

.overflow-ellipsis
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
  max-width: 100%
  display: block

.fade-enter-active, .fade-leave-active
  transition: opacity .2s

.fade-enter, .fade-leave-to
  opacity: 0

:deep(.soil-icon)
  vertical-align: sub

.tree-link
  font-weight: bold
  color: #4a4a4a

.tree-link:hover
  text-decoration: underline

.tree-aligner
  margin-left: 1.25rem
</style>
