<script lang="ts">
export default { name: 'SAuthForm' }
</script>

<script setup lang="ts">
/**
 * Reusable wrapper for some account related views:
 *  - ViewAuthPasswordReset
 *  - ViewAuthSignIn
 *  - ViewAuthSignOut
 */

import { toRefs } from 'vue'

interface Props {
  title: string
}

interface Emits {
  (event: 'submit', value: any): void
}

const props = defineProps<Props>()
const { title } = toRefs(props)

defineEmits<Emits>()
</script>

<template lang="pug">
.container
  .level
    .level-left
      .form-texts
        h1.is-size-1 {{ title }}
        .content
          slot(name='left')
    .level-right
      form(@submit='$emit("submit", $event)')
        slot(name='right')
</template>
