<script lang="ts">
export default { name: 'SLayoutDefault' }
</script>

<script setup lang="ts">
import { getConfig } from '@/config'

const project = getConfig('PROJECT')
</script>

<template lang="pug">
section.hero.is-fullheight
  .hero-head
  .hero-body
    router-view(v-slot='{ Component }')
      transition(mode='out-in' name='transition-views')
        component(:is='Component')
  .hero-foot
    .container
      ul
        li: a(:href='project.URL' :title='project.NAME')
          | {{ project.NAME }}
</template>
